<a href="https://colab.research.google.com/github/renatoquiliche/DataScience-PUCRio-FB/blob/main/Task%201/LeonardoRafael.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Diretorio

#Pacotes
library(readr)
library(psych)
library(data.table)

# Exercicio 1 - Carregar os dados e gerar estatísticas descritivas
salarios.c <- read.csv("https://raw.githubusercontent.com/renatoquiliche/DataScience-PUCRio-FB/main/Data/DS_salarios/ds_salaries.csv")[,-1]
describeBy(salarios.c)

Warning message in describeBy(salarios.c):
“no grouping variable requested”

                    vars n   mean         sd           median trimmed
work_year            1   607 2.021405e+03 6.921330e-01   2022 2.021505e+03
work_month           2   607 6.472817e+00 3.344199e+00      6 6.462012e+00
experience_level*    3   607 3.128501e+00 1.034055e+00      3 3.283368e+00
employment_type*     4   607 2.993410e+00 2.367744e-01      3 3.000000e+00
job_title*           5   607 2.196046e+01 1.049132e+01     18 2.100000e+01
salary               6   607 3.240001e+05 1.544357e+06 115000 1.189191e+05
salary_currency*     7   607 1.402965e+01 4.378063e+00     17 1.467146e+01
salary_in_usd        8   607 1.122979e+05 7.095726e+04 101570 1.061576e+05
employee_residence*  9   607 4.140857e+01 1.827362e+01     56 4.366324e+01
remote_ratio        10   607 7.092257e+01 4.070913e+01    100 7.607803e+01
company_location*   11   607 3.688797e+01 1.603186e+01     49 3.906571e+01
company_size*       12   607 1.810544e+00 6.540210e-01      2 1.763860e+00
                    mad        min  max      range    skew        kurtosis
work_year               0.0000 2020     2022        2 -0.73218434  -0.6566735
work_month              4.4478    1       12       11  0.03830345  -1.1650795
experience_level*       1.4826    1        4        3 -1.04460332  -0.1037724
employment_type*        0.0000    1        4        3 -4.13636473  45.8068788
job_title*              7.4130    1       50       49  0.87504036   0.4033841
salary              68706.6492 4000 30400000 30396000 13.98353745 244.5650398
salary_currency*        0.0000    1       17       16 -1.02894140  -0.3834816
salary_in_usd       62906.7180 2859   600000   597141  1.65931243   6.2611192
employee_residence*     0.0000    1       57       56 -0.67289285  -1.2237463
remote_ratio            0.0000    0      100      100 -0.89976001  -0.8977813
company_location*       0.0000    1       50       49 -0.77315613  -1.0865107
company_size*           0.0000    1        3        2  0.21468763  -0.7307573
                    se
work_year           2.809281e-02
work_month          1.357368e-01
experience_level*   4.197098e-02
employment_type*    9.610376e-03
job_title*          4.258294e-01
salary              6.268354e+04
salary_currency*    1.777001e-01
salary_in_usd       2.880066e+03
employee_residence* 7.417034e-01
remote_ratio        1.652333e+00
company_location*   6.507130e-01
company_size*       2.654589e-02

In [10]:
# Exercicio 2 - Técnica de Amostragem
# Bootstrap
salarios <- transpose(sample(transpose(salarios.c), size = 50, replace = TRUE))
colnames(salarios) <- colnames(salarios.c)

head(salarios)

  work_year work_month experience_level employment_type
1 2020      11         MI               FT
2 2022      5          SE               FT
3 2022      6          SE               FT
4 2022      4          MI               FT
5 2021      10         SE               FT
6 2021      12         EN               FT
  job_title                salary salary_currency salary_in_usd
1 Lead Data Analyst        87000  USD             87000
2 Data Engineer            181940 USD             181940
3 Data Scientist           170000 USD             170000
4 Data Scientist           115000 CHF             122346
5 Computer Vision Engineer 102000 BRL             18907
6 Data Engineer            55000  EUR             65013
  employee_residence remote_ratio company_location company_size
1 US                 100          US               L
2 US                 0            US               M
3 US                 100          US               M
4 CH                 0            CH               L
5 BR                 0            BR               M
6 DE                 50           DE               M

In [7]:
# Exercicio 3 - Técnica de Discretização
# Transformação da variável salário numérica para uma varíavel categórica
str(salarios)
salarios$salary_in_usd <- as.numeric(salarios$salary_in_usd)

# Em relação a média
salarios$salary_in_usd_average <- ifelse(salarios$salary_in_usd < mean(salarios$salary_in_usd),
                           "Below Average", "Above Average")


# Em relação aos quantis
quartil25 <- quantile(salarios$salary_in_usd)[2]
quartil50 <- quantile(salarios$salary_in_usd)[3]
quartil75 <- quantile(salarios$salary_in_usd)[4]

salarios$salary_in_usd_quantiles <- ifelse(salarios$salary_in_usd <= quartil25,
                                 "Quantile 25", ifelse(salarios$salary_in_usd <= quartil50 & salarios$salary_in_usd > quartil25,
                                             "Quantile 50", ifelse(salarios$salary_in_usd <= quartil75 & salarios$salary_in_usd > quartil50,
                                                         "Quantile 75","Quantile 100")))

'data.frame':	50 obs. of  12 variables:
 $ work_year         : chr  "2022" "2021" "2021" "2022" ...
 $ work_month        : chr  "2" "3" "7" "2" ...
 $ experience_level  : chr  "SE" "EX" "SE" "SE" ...
 $ employment_type   : chr  "FT" "FT" "FT" "FT" ...
 $ job_title         : chr  "Data Engineer" "Director of Data Science" "Data Analyst" "Data Analyst" ...
 $ salary            : chr  "155000" "130000" "90000" "106260" ...
 $ salary_currency   : chr  "USD" "EUR" "CAD" "USD" ...
 $ salary_in_usd     : chr  "155000" "153667" "71786" "106260" ...
 $ employee_residence: chr  "US" "IT" "CA" "US" ...
 $ remote_ratio      : chr  "100" "100" "100" "100" ...
 $ company_location  : chr  "US" "PL" "CA" "US" ...
 $ company_size      : chr  "M" "L" "M" "M" ...

In [8]:
# Exercicio 4 - Técnica de Feature Engineering
# Criação de uma nova variável para indicar se o trabalha no mesmo país em que mora, o que representa mais informação
salarios$residence_location <- ifelse(
  salarios$employee_residence != salarios$company_location, 
  "Live in a country and works for another", "Work and live in the same country")

**Observations: the code is ok, but the bootstrap sample size is $n=50$, which may not lead to good data representativity**